* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  height: 51px;
}

nav {
  position: fixed;
  width: 100%;
  height: 51px;
  background-color: #212121;
  z-index: 5;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

.menu_link {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 47px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.menu_item:last-child {
  padding-right: 0;
  border-right: 0;
}

.hamburger {
  display: none;
}

.subheader {
  position: absolute;
  top: 51px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  opacity: 0.5;
  font-size: 13px;
  font-weight: 100;
  color: #ffffff;
}

.subheader_call {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  text-align: right;
}

.subheader_number {
  display: block;
  margin-top: 8px;
  line-height: 12px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: right;
}

.subheader_btn {
  margin-top: 16px;
  width: 178px;
  height: 52px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
          box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.subheader_btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 799px;
  background: url(../img/bg_top.png) center center/cover no-repeat;
  padding: 151px 0 132px 0;
  top: 51px;
}

.promo_header {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.promo_subheader {
  margin-top: 19px;
  font-size: 36px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}

.promo_descr {
  margin-top: 23px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 115px;
  width: 265px;
  height: 69px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
          box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.promo_btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-image: none;
  background-color: #1eacc7;
}

.reasons {
  min-height: 900px;
  padding: 71px 0 68px 0;
}

.reasons_wrapper {
  min-height: 153px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  padding: 0;
}

.reasons_icon {
  margin-right: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons_descr {
  width: 343px;
}

.reasons_subtitle {
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  color: #1eacc7;
}

.reasons_text {
  font-size: 15px;
  font-weight: 300;
  color: #202020;
  line-height: 21px;
}

.label {
  position: relative;
  margin: 0 auto;
  padding: 5px 12px;
  width: 112px;
  height: 24px;
  background-color: #000000;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  z-index: 2;
}

.label_white {
  background-color: #ffffff;
  color: #000000;
}

.label_white_fuck {
  padding: 1px 12px;
}

.title {
  position: relative;
  margin-top: 38px;
  margin-bottom: 0;
  font-size: 38px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  z-index: 2;
}

.title_white {
  color: #ffffff;
}

.subtitle {
  position: relative;
  margin-top: 19px;
  font-size: 17px;
  font-weight: 400;
  color: #222222;
  text-align: center;
  z-index: 2;
}

.subtitle_white {
  color: #ffffff;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url("../img/bg_phoneApp.png") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding: 92px 0 35px 0;
}

.mobile_item_1 {
  background: url("../img/img_phoneApp/ap1.png") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/img_phoneApp/ap2.png") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/img_phoneApp/ap3.png") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/img_phoneApp/ap4.png") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/img_phoneApp/ap5.png") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/img_phoneApp/ap6.png") center center/cover no-repeat;
}

.mobile_subtitle {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.mobile_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-color: black;
  border-radius: 100%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.mobile_plus::before {
  content: '';
  display: block;
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.mobile_plus::after {
  content: '';
  display: block;
  position: absolute;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.mobile_plus:hover {
  -webkit-transform: scale(1.4) rotate(90deg);
          transform: scale(1.4) rotate(90deg);
}

.mobile_plus:hover::before, .mobile_plus:hover::after {
  background-color: #ff5656;
}

.mobile_plus img {
  width: 100%;
}

.choise {
  position: relative;
  padding: 57px 0 138px 0;
  min-height: 896px;
  background: url(../img/bg_phoneApp.png) center center/cover no-repeat;
  font-size: 17px;
  line-height: 24px;
  font-weight: 300;
  color: #222222;
  text-align: center;
}

.choise .black {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 499px;
  background-color: #070716;
  z-index: 1;
}

.choise_img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}

.require {
  padding: 68px 0 84px 0;
}

.require_block {
  margin: 33px 0;
}

.require_block_nmb {
  margin-bottom: 0;
}

.require_title {
  font-size: 22px;
  font-weight: 400;
  color: #1ca8c3;
}

.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
  margin-bottom: 0;
}

.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 10px;
}

.require_list li::before {
  content: '';
  display: block;
  position: absolute;
  left: -31px;
  top: 1px;
  width: 21px;
  height: 20px;
  background: url("../icons/like.png") center center/cover no-repeat;
}

.require_descr {
  font-size: 17px;
  font-weight: 300;
  margin-top: 22px;
  color: #1eacc7;
}

.require .warning .require_title {
  color: #ff5656;
}

.require .warning .require_list li::before {
  background: url("../icons/like_red.png") center center/cover no-repeat;
}

.city {
  position: relative;
  min-height: 717px;
  padding: 49px 0;
  background: url("../img/bg_bottom.png") center center/cover no-repeat;
}

.city_link {
  position: absolute;
  display: block;
  text-align: center;
  bottom: 49px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1fbad6;
  text-decoration: none;
}

.city_link:hover {
  color: white;
  text-decoration: underline;
}

.footer {
  padding: 14px 23px 39px 23px;
}

.footer_divider {
  margin: 0 auto;
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

.footer_wrapper > div {
  width: 33%;
}

.footer_wrapper > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_social {
  width: 153px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
  color: white;
  text-decoration: none;
}

.footer_links {
  width: 391px;
  margin: 0 auto;
}

.footer_links_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer_links_main a {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #070716;
  text-decoration: none;
}

.footer_links_main a:hover {
  text-decoration: underline;
}

.footer_links_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.footer_links_sub a {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  color: #999999;
  text-decoration: none;
}

.footer_links_sub a:hover {
  text-decoration: underline;
}

.footer_lenguage {
  display: block;
  margin: 0 auto;
  width: 50px;
  text-align: center;
  margin-top: 19px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1fbad6;
  text-align: center;
  text-decoration: none;
}

.footer_lenguage:hover {
  color: #ff5656;
  text-decoration: underline;
}

.xs-visible {
  display: none;
}

@media (max-width: 1400px) {
  .menu_item {
    padding-right: 32px;
  }
}

@media (max-width: 1199px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .promo_subheader {
    font-size: 35px;
  }
  .reasons_wrapper {
    min-height: 173px;
  }
  .reasons_descr {
    width: 314px;
  }
  .mobile_item {
    width: 290px;
  }
  .mobile_subtitle {
    font-size: 20px;
  }
  .footer_wrapper > div {
    width: 25%;
  }
  .footer_wrapper > div:nth-child(2) {
    width: 50%;
  }
  .footer_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .footer_mobile a {
    margin: 0 auto;
  }
  .footer_mobile a:nth-child(2) {
    padding-left: 10px;
  }
  .footer_mobile a:nth-child(3) {
    padding-left: 18px;
  }
}

@media (max-width: 991px) {
  .menu_item {
    padding-right: 6px;
  }
  .menu_link {
    font-size: 11px;
  }
  .subheader_logo {
    margin-top: 21px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_number {
    font-size: 19px;
  }
  .subheader_btn {
    margin-top: 25px;
    width: 100%;
    height: 34px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 25px;
  }
  .reasons_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reasons_icon {
    margin-right: 0;
  }
  .reasons_descr {
    margin-top: 36px;
  }
  .mobile {
    background: url("../img/bg_phoneApp.png") center center repeat;
  }
  .choise_img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all ease-in-out;
    transition: 0.6s all ease-in-out;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_number {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
  }
  .subheader_btn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 170px;
    height: 40px;
  }
  .promo_header {
    font-size: 37px;
  }
  .promo_subheader {
    font-size: 23px;
  }
  .reasons_descr {
    text-align: center;
  }
  .reasons_subtitle {
    font-size: 19px;
  }
  .reasons_text {
    margin-top: 10px;
  }
  .footer {
    padding: 25px 21px 20px 21px;
  }
  .footer_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
  }
  .footer_wrapper > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  .footer_wrapper > div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer_wrapper > div:nth-child(2) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer_wrapper > div:nth-child(3) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer_mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_mobile a {
    margin: 0 auto;
  }
  .footer_mobile a:nth-child(1) {
    padding-top: 3px;
  }
  .footer_mobile a:nth-child(2) {
    padding-left: 0;
    padding-top: 4px;
  }
  .footer_mobile a:nth-child(3) {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu_link {
    display: block;
  }
  .subheader {
    height: 60px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 17px;
  }
  .subheader_number {
    font-size: 12px;
    margin-top: 9px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .subheader_btn {
    width: 116px;
    height: 28px;
    margin-top: 4px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
  .promo {
    min-height: 400px;
    padding: 113px 0 32px 0;
  }
  .promo_descr {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    line-height: 1.2;
    padding: 0 24px;
  }
  .promo_subheader {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
  }
  .promo_btn {
    width: 216px;
    height: 56px;
    margin-top: 69px;
  }
  .reasons {
    padding: 22px 0 50px 0;
  }
  .reasons_wrapper {
    margin-top: 26px;
  }
  .reasons_descr {
    margin-top: 25px;
  }
  .title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
    line-height: 16px;
  }
  .subtitle {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    padding: 0 12px;
    margin-top: 11px;
  }
  .mobile {
    padding: 22px 0 27px 0;
  }
  .mobile .row {
    margin-top: 27px;
  }
  .mobile_item {
    width: 290px;
    height: 254px;
    margin-bottom: 30px;
  }
  .mobile_subtitle {
    font-size: 18px;
    line-height: 31px;
    font-weight: 400;
    padding: 0 42px;
  }
  .choise {
    padding: 25px 0 33px 0;
    min-height: 390px;
    background: black;
  }
  .choise .black {
    display: none;
  }
  .choise_img {
    margin-top: 35px;
  }
  .choise_descr {
    margin-top: 23px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
  }
  .hidden-320 {
    display: none;
  }
  .require {
    min-height: 1049px;
    padding: 25px 0;
  }
  .require_block {
    margin: 32px 0 0 0;
  }
  .require_title {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }
  .require_list {
    padding-left: 29px;
    margin-top: 16px;
  }
  .require_list li {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
  }
  .require_descr {
    margin-top: 6px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
  }
  .footer_divider {
    width: 253px;
  }
  .footer_links {
    width: 279px;
  }
  .footer_links_main a {
    font-size: 14px;
  }
  .footer_links_sub {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_links_sub a {
    margin: 0 11px;
  }
  .footer_mobile {
    -webkit-transform: scale(0.88);
            transform: scale(0.88);
  }
  .city {
    min-height: 360px;
    padding: 25px 0 30px 0;
  }
  .city_link {
    display: block;
    width: 200px;
    font-size: 15px;
    font-weight: 400;
    bottom: 30px;
  }
}

@media (hover: none) {
  .subheader_btn:hover,
  .promo_btn:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    background-color: none;
  }
  .mobile_plus {
    -webkit-transition: none;
    transition: none;
  }
  .mobile_plus:hover {
    -webkit-transform: none;
            transform: none;
  }
  .mobile_plus:hover::before, .mobile_plus:hover::after {
    background-color: #1eacc7;
  }
  .city_link:hover,
  .footer_links_main a:hover,
  .footer_links_sub a:hover,
  .footer_lenguage:hover {
    text-decoration: none;
  }
  .city_link:hover,
  .footer_lenguage:hover {
    text-decoration: none;
    color: #1fbad6;
  }
}
/*# sourceMappingURL=style.css.map */